<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to My Spotify Assistant</h1>
        <p>Log in to view and share your liked songs.</p>
        <a href="{{ url_for('login') }}" class="login-button">Login with Spotify</a> <!-- Ensure class is correct -->
    </div>

    <footer class="footer">
        <p>Contact me:</p>
        <ul>
            <li><a href="mailto:shashaankvinoth@gmail.com">Email: shashaankvinoth@gmail.com</a></li>
            <li><a href="https://github.com/darkangel583/spotify-dev" target="_blank">GitHub: darkangel583/spotify-dev</a></li>
        </ul>
    </footer>
    
</body>
</html>
